@charset "utf-8";
/* CSS Document */

#gameFrame {
	width: 800px;
	height: 600px;
	scrolling: no;
}

.borderless {
	margin: 0px;
	padding: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	frameBorder: false;
	overflow:hidden;
}

html,body{overflow:hidden}